In [44]:
import requests
import random
import re
import time
import pandas as pd
from bs4 import BeautifulSoup as bs

headers_list = [
    # Firefox 77.0 macOS
    {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:77.0) Gecko/20100101 Firefox/77.0",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "DNT": "1",
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1"
    },
    # Chrome 92.0 Win10
    {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Accept-Encoding": "gzip, deflate, br",
        "Referer": "https://www.google.com/",
        "DNT": "1",
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1"
    },
    # Chrome 91.0 Win10
    {
        "Connection": "keep-alive",
        "DNT": "1",
        "Upgrade-Insecure-Requests": "1",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
        "Sec-Fetch-Site": "none",
        "Sec-Fetch-Mode": "navigate",
        "Sec-Fetch-Dest": "document",
        "Referer": "https://www.google.com/",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-GB,en-US;q=0.9,en;q=0.8"
    },
    # Firefox 90.0 Win10
    {
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:90.0) Gecko/20100101 Firefox/90.0",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
        "Sec-Fetch-Site": "same-origin",
        "Sec-Fetch-Mode": "navigate",
        "Sec-Fetch-User": "?1",
        "Sec-Fetch-Dest": "document",
        "Referer": "https://www.google.com/",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-US,en;q=0.9"
    },
    # Safari 14.1 macOS
    {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1 Safari/605.1.15",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "Connection": "keep-alive",
        "DNT": "1",
        "Upgrade-Insecure-Requests": "1"
    },
    # Edge 92.0 Win10
    {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36 Edg/92.0.902.62",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "Accept-Encoding": "gzip, deflate, br",
        "DNT": "1",
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1"
    },
    # Opera 77.0 Win10
    {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36 OPR/77.0.4054.172",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "Accept-Encoding": "gzip, deflate, br",
        "DNT": "1",
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1"
    },
    # Firefox 88.0 Ubuntu Linux
    {
        "User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:88.0) Gecko/20100101 Firefox/88.0",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "Connection": "keep-alive",
        "DNT": "1",
        "Upgrade-Insecure-Requests": "1",
        "Accept-Encoding": "gzip, deflate, br"
    },
    # Chrome 91.0 Android
    {
        "User-Agent": "Mozilla/5.0 (Linux; Android 10; SM-G975F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Mobile Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "Connection": "keep-alive",
        "DNT": "1",
        "Upgrade-Insecure-Requests": "1",
        "Accept-Encoding": "gzip, deflate, br"
    },
    # Safari 14.0 iPhone iOS 14.4
    {
        "User-Agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Mobile/15E148 Safari/604.1",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
        "Accept-Language": "en-US,en;q=0.5",
        "Referer": "https://www.google.com/",
        "Connection": "keep-alive",
        "DNT": "1",
        "Upgrade-Insecure-Requests": "1"
    }
]

In [46]:
url = 'https://www.sec.gov/Archives/edgar/data/39911/000003991119000023/fy201810-k.htm'
print(url + ' processing...')
headers = random.choice(headers_list)
r = requests.Session()
r.headers = headers
html = r.get(url).text
temp = headers

https://www.sec.gov/Archives/edgar/data/39911/000003991119000023/fy201810-k.htm processing...

In [70]:
soup = bs(html, 'html.parser')

In [72]:
infotable = soup.find("table",style='font-family:Times New Roman;font-size:10pt;width:100%;border-collapse:collapse;text-align:left;')

In [76]:
ls_col=[]
for row in rows:
    columns = row.find_all('td')
    # print(columns)
    ls=[]
    for col in columns:
        val = col.get_text(strip=True)
        ls.append(val)
        filtered_data = list(filter(None, ls))
        # merged_data = [filtered_data[0]] + [f"{filtered_data[i]}{filtered_data[i + 1]}" for i in range(1, len(filtered_data), 2)]
    ls_col.append(filtered_data)

In [78]:
  
def process_dollar_data(temp):
    # Initialize index variable
    i = 1
    # Loop through and remove every second element starting from index 1 (the '$' signs)
    while i < len(temp):
        temp.pop(i)  # Remove the '$' sign
        i += 1  # Move to the next value

    # Append '$' to each remaining value
    for i in range(1, len(temp)):
        temp[i] = '$' + temp[i]
    
    return temp
    
def process_percentage_data(temp):
    # Initialize index variable
    i = 1
    # Loop through and remove every second element starting from index 1
    while i < len(temp):
        temp.pop(i + 1)
        i += 1
    # print(temp)
    # Append '%' to each element from index 1 onwards
    for i in range(1, len(temp)):
        if ('(') in temp[i]:
            temp[i]+=')'
        temp[i] = temp[i] + '%'
    
    return temp

def set_first_row_as_header(data):
    df = pd.DataFrame(data)
    df.columns = df.iloc[0]  # Set the first row as header
    df = df[1:]  # Remove the first row
    df.reset_index(drop=True, inplace=True)
    return df

In [80]:
ls_col = ls_col[4:]
ls3=[]
for col in ls_col:
    if ('%' in col):
        col = process_percentage_data(col)
    elif ('$' in col):
        col = process_dollar_data(col)

ls_col[0] = ['Operating Results ($ in millions)','2018(52)','2017(53)','2016(52)','2015(52)','2014(52)']

i=0
while(i<len(ls_col)):
    ls2=[]
    
    if len(ls_col[i])==1:
        print(ls_col[i])
        ls_col[i]+=['2018(52)','2017(53)','2016(52)','2015(52)','2014(52)']
    else:
        while len(ls_col[i])!=1:
            ls2.append(ls_col[i])
            i+=1
            if(i==len(ls_col)):
                break
        print(ls2)
        ls3.append(ls2)

[['Operating Results ($ in millions)', '2018(52)', '2017(53)', '2016(52)', '2015(52)', '2014(52)'], ['Net sales', '$16,580', '$15,855', '$15,516', '$15,797', '$16,435'], ['Gross margin', '38.1%', '38.3%', '36.3%', '36.2%', '38.3%'], ['Operating margin', '8.2%', '9.3%', '7.7%', '9.6%', '12.7%'], ['Effective Tax Rate', '24.1%', '40.4%', '39.9%', '37.5%', '37.3%'], ['Net income', '$1,003', '$848', '$676', '$920', '$1,262'], ['Cash dividends paid', '$373', '$361', '$367', '$377', '$383']]
['Per Share Data (number of shares in millions)']
[['Per Share Data (number of shares in millions)', '2018(52)', '2017(53)', '2016(52)', '2015(52)', '2014(52)'], ['Basic earnings per share', '$2.61', '$2.16', '$1.69', '$2.24', '$2.90'], ['Diluted earnings per share', '$2.59', '$2.14', '$1.69', '$2.23', '$2.87'], ['Weighted-average number of shares—basic', '385', '393', '399', '411', '435'], ['Weighted-average number of shares—diluted', '388', '396', '400', '413', '440'], ['Cash dividends declared and paid per share', '$0.97', '$0.92', '$0.92', '$0.92', '$0.88']]
['Balance Sheet Information ($ in millions)']
[['Balance Sheet Information ($ in millions)', '2018(52)', '2017(53)', '2016(52)', '2015(52)', '2014(52)'], ['Merchandise inventory', '$2,131', '$1,997', '$1,830', '$1,873', '$1,889'], ['Total assets', '$8,049', '$7,989', '$7,610', '$7,473', '$7,690'], ['Working capital (a)', '$2,077', '$2,107', '$1,862', '$1,450', '$2,083'], ['Total long-term debt, less current maturities', '$1,249', '$1,249', '$1,248', '$1,310', '$1,332'], ['Stockholders’ equity', '$3,553', '$3,144', '$2,904', '$2,545', '$2,983']]
['Other Data ($ and square footage in millions)']
[['Other Data ($ and square footage in millions)', '2018(52)', '2017(53)', '2016(52)', '2015(52)', '2014(52)'], ['Cash used for purchases of property and equipment', '$705', '$731', '$524', '$726', '$714'], ['Percentage increase (decrease) in comparable sales', '—%', '3%', '(2)%', '(4)%', '—%'], ['Number of Company-operated store locations open at year-end', '3,194', '3,165', '3,200', '3,275', '3,280'], ['Number of franchise store locations open at year-end', '472', '429', '459', '446', '429'], ['Number of total store locations open at year-end', '3,666', '3,594', '3,659', '3,721', '3,709'], ['Square footage of Company-operated store space at year-end', '36.7', '36.4', '36.7', '37.9', '38.1'], ['Percentage increase (decrease) in square footage of Company-operated store space at year-end', '0.8%', '(0.8)%', '(3.2)%', '(0.5)%', '2.4%'], ['Number of employees at year-end', '135,000', '135,000', '135,000', '141,000', '141,000']]

In [111]:
df_operating_res = pd.DataFrame(ls3[0])

In [115]:
df_operating_res = set_first_row_as_header(df_operating_res)

In [117]:
df_operating_res

,Operating Results ($ in millions),2018(52),2017(53),2016(52),2015(52),2014(52)
0,Net sales,"$16,580","$15,855","$15,516","$15,797","$16,435"
1,Gross margin,38.1%,38.3%,36.3%,36.2%,38.3%
2,Operating margin,8.2%,9.3%,7.7%,9.6%,12.7%
3,Effective Tax Rate,24.1%,40.4%,39.9%,37.5%,37.3%
4,Net income,"$1,003",$848,$676,$920,"$1,262"
5,Cash dividends paid,$373,$361,$367,$377,$383

In [90]:
df_operating_res = df[:7]
df_per_share_data = df[7:13]
df_bal_sheet_info = df[13:19]
df_other_data = df[19:]

In [ ]:
df_operating_res

In [119]:
df_operating_res.to_csv('df_operating_res.csv')

In [26]:
df_per_share_data = set_first_row_as_header(df_per_share_data)
df_per_share_data

7,Percentage increase (decrease) in square footage of Company-operated store space at year-end,0.8%,(0.8)%,(3.2)%,(0.5)%,2.4%
0,Number of employees at year-end,"135,000","135,000","135,000","141,000","141,000"

In [14]:
df_per_share_data.to_csv('df_per_share_data.csv')

In [ ]:
df_bal_sheet_info.to_csv('df_bal_sheet_info.csv')

In [ ]:
df_other_data = set_first_row_as_header(df_other_data)